@use "../abstract" as var;

.listRemoveStyle {
	list-style: none;
	padding: 0;
	margin: 0;
	&--flex {
		display: flex;
	}
}
%background {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.btn {
	border-radius: 5px;
	background: #5267df;
	box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
	cursor: pointer;
	width: 114px;
	height: 48px;
	border: none;
	outline: none;
	color: #242a45;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.25px;
	color: white;
	&:hover {
		color: #5267df;
		background-color: white;
		border: 2px solid #5267df;
	}
	&--white {
		border-radius: 5px;
		background: #f7f7f7;
		color: #242a45;
		&:hover {
			border: 2px solid #5b6074;
			background: #fff;
			color: #242a45;
		}
	}

	&--med {
		width: 166px;
		height: 48px;
	}
	&--special {
		color: white;
		background-color: #fa5959;

		&:hover {
			background-color: white;
			color: #fa5959;
			border: 2px solid #fa5959;
		}
	}
	&--large {
		width: 232px;
		height: 48px;
	}
}
.non-active {
	display: none !important;
}
p {
	color: #242a45;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	opacity: 0.5;

	&.center {
		text-align: center;
		padding: 1rem 16rem;
	}
}
h2 {
	color: #242a45;
	text-align: center;
	margin: 0;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 52px; /* 162.5% */
	letter-spacing: -0.1px;
}
img {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 1440px;
	padding: 2rem 6rem 7rem;
	margin: auto;
	overflow: hidden;
}
.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 25.5%;
	gap: 20px;
	text-align: center;
}
@include var.breakpoints("Large") {
	.container {
		padding: 3rem 5rem;
	}
}
@include var.breakpoints("med") {
	.container {
		padding: 3rem 3.4rem;
	}
}

@include var.breakpoints("mobile") {
	.container {
		padding: 2rem 1rem 3rem;
		max-width: 600px;
	}
	.description {
		padding: 10px;
		text-align: center;
	}
	.btn {
		margin: auto;
	}
	h2 {
		font-size: 24px;
		letter-spacing: -0.075px;
		line-height: 30px;
	}
	p {
		font-size: 15px;
		margin: 20px auto;
		max-width: 400px;
	}
}
